.pagination {list-style:none; margin:0px; padding:0px; margin-top:30px;

}  
.pagination li{float:left; margin:3px;}  

.pagination .active{
    border: none;
    background: #0071BD;
    color: white !important;
    display: inline-block;
    padding: 5px 12px;
    margin-right: 4px;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
	border-radius: 3px;
}
.goto, .goto_next, .inactive, .goto_previous{
    display: inline-block;
    padding: 5px 12px;
    margin-right: 4px;
    border-radius: 3px;
    background: #f3f3f3;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    color: #0071BD !important;
}
